
.pokemonIndividual {
    background-color: #222831;
    height: 37rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    padding: 0;
  }

  .containerHabilidades {
    display: flex;
    flex-direction: column;
    justify-items: left;
    line-height: 20px;
  }

 .height {
    color: red;
    opacity: .8;
    text-align: right;
    font-size: .8rem;
    text-align: left;
    
}

.weight {
    color: red;
    opacity: .8;
    text-align: right;
    font-size: .8rem;
    text-align: left;
}

.peso {
    color:blue;
}

.altura {
    color: blue;
}

.name {
        margin-top: 15px;
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 0.5rem;
}

.move {
    color: red;
    opacity: .8;
    text-align: right;
    font-size: 0.8rem;
    text-align: left;
}

.ataque1{
    color: blue;
}

.detailIndividualCard img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
  }

  .pokebola img {

    width: 180px;
    padding-top: 20px;
  }

  .olPokemonIndividual {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh;
  }